<ion-view title="Client">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>{{clienteController.cliente.name}}</h2>
                <p>{{clienteController.cliente.address}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="delorean.jpg">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>

            </div>



        </div>
    </ion-content>
</ion-view>