<ion-view>
    <ion-content>
        <div class="list card">
            <p>Cantidad Issues Pendientes: {{dashBoardControllerList.cantidadPendientes}}</p>
            <a href="#/Issue/{{issue.id}}" class= "item item-icon-left" ng-repeat="issue in dashBoardControllerList.issues |Cerradas : dashBoardControllerList.estado">
                <i class="icon ion-android-happy"></i>
                {{issue.info}}
            </a>
         </div>

    </ion-content>
</ion-view>