<ion-view title="Issue Detail">
    <ion-content>
        Data: {{issueDetailController.data}}
        <div class="list card">

            <div class="item item-avatar">
                <h2>{{issueDetailController.issue.client.name}}</h2>
                <p>{{issueDetailController.issue.assignationDate | date:"MM/dd/yyyy"}}</p>
                <p>{{issueDetailController.issue.status}}</p>
            </div>

            <div class="item item-body">
                <ui-gmap-google-map center='issueDetailController.map.center' zoom='issueDetailController.map.zoom'>
                    <ui-gmap-marker coords="issueDetailController.marker.coords" options="issueDetailController.marker.options"
                                    idkey="issueDetailController.marker.id">
                    </ui-gmap-marker>

                </ui-gmap-google-map>

            </div>

        </div>
    </ion-content>
</ion-view>