<ion-view title="List Issues">
    <ion-content>
        <label class="item item-input item-select" >
            <div class="input-label">
                Ordenar Por: {{listIssuesController.filtro.label}}
            </div>
            <select ng-model="listIssuesController.filtro" ng-options="opt as opt.label for opt in listIssuesController.options">
            </select>
        </label>

        <div id="issues" class="list" ng-repeat="issue in listIssuesController.listIssues | orderBy: listIssuesController.filtro.value">
            <a class="item item-thumbnail-left" href="#/Issue/{{issue.id}}">
                <h2>{{issue.client.name}}</h2>
                <h2>{{issue.info}}</h2>
                <h2>{{issue.assignationDate | date:"MM/dd/yyyy"}}</h2>
                <h2>Estado: {{listIssuesController.estados[issue.status]}}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>