<ion-view title="Login">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
            <button class="button button-positive">
                Ingresar
            </button>
        </div>
    </ion-content>
</ion-view>