/* Empty. Add your own CSS if you like */
.angular-google-map-container { height: 400px; }
.infoWindowMaps{
    width: 100px;
    height: 50px;

}

.angular-google-map {
    display: block;
}
.custom-info-window{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 230px;
    margin-top: 0px;
    margin-left: 0px;
}
.custom-info-window a{
    color: white;
    text-decoration: underline;
}
.custom-info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(0,0,0,0.5) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 18px;
}

